*{
    box-sizing: border-box;
}
.toodoo{
    width: 400px;
    height: auto;
    border-radius: 5px;
    border: none;
    background: #e9e9e9;
}
.toodoo_elem{
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.toodoo_form{
    display: flex;
    align-items: center;
}
.todo_item{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 5px;
}
.toodoo_item.done{
    background-color: #8eb068;
}

.item_value{
    border: none;
    background: transparent;
    color: #000;
    width: auto;
}
button.changes{
    opacity: 0;
    transition: .3s;
}
.toodoo_item:hover button.changes{
    /* opacity: 1; */
    transition: .3s;
}


.toodoo_items{
    margin: 0;
    padding: 0;
    list-style: none;
}
.todo_item{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid #9c9c9c;
    justify-content: space-between;
}
.remove{
    cursor: pointer;
}
.todo_item.done span{
    text-decoration: line-through;
}
.todo_item.done {
    background-color: #e0e0e0;
    background: transparent;
    border: navajowhite;
    height: 25px;
}
.todo_item.done .changes{
    opacity: .5;
}
.todo_item.done .changes span{
    font-weight: 500;
    color: #000;
}
.remove img{
    width: 14px;
    opacity: 0;
    transition: .3s;
}
.todo_item:hover .remove img{
    opacity: 1;
    transition: .3s;
}
.changes{
    display: flex;
    align-items: center;
}
.changes input{
    margin-top: 3px;
    margin-right: 7px;
}
.toodoo_items{
    padding: 10px;
    padding-bottom: 5px;
}
.toodoo_form {
    display: flex;
    align-items: center;
    background: #000033;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 80px;
}

#createForm input{
    height: 30px;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    padding: 0 10px;
    border: none;
}
#createForm .add{
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #e9e9e9;
    color: #000033;
    font-weight: 600;
}
.changes span{
    color: #000033;
    font-weight: 600;
}